<%- include('partials/nav.ejs') %>
    <div class="layout-content">
        <div class="container-fluid flex-grow-1 container-p-y">
            <h4 class="font-weight-bold py-3 mb-0">Create Blog
                <!-- <?php //echo $_SESSION['division'];?> -->
            </h4>
            <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="# ">Create Blog</a>
                    </li>
                </ol>
            </div>
            <section class="content-inner position-relative">
                <div class="container">
                    <form action="/admin/dashboard/blogs/addBlogs" method="post" enctype="multipart/form-data">
                        <div class="row ">
                            <div class="col-xl-8 col-lg-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Blog Image *</h5>
                                        <input type="file" name="blogimg">
                                    </div>
                                    <div class="col-md-4 mt-3">
                                        <h5>Profile</h5>
                                        <input type="file" name="blogProfile">
                                    </div>
                                    <div class="col-md-8 d-flex align-items-center gap-3 mt-3">
                                        By*
                                        <input type="text" name="blogBy" class="form-control px-2"
                                            placeholder="Enter Name" required>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="form-group">
                                            <h5>Main Heading *</h5>
                                            <input type="text" name="blogHeading" class="form-control px-2"
                                                placeholder="Heading" required>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mt-3">
                                        <div class="form-group">
                                            <h4 class="title">Blog Description 1 *</h4>
                                            <div class="card-body">
                                                <textarea class="form-control px-2" name="blogDescription1"
                                                    rows="5" required></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <blockquote class="block-quote  style-1">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <h5>Title *</h5>
                                                <input type="text" name="blogTitle" class="form-control px-2" placeholder="Title" required>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <cite> By Name </cite>
                                    </blockquote>

                                    <div class="col-md-12">
                                        <h4 class="title mt-3">Add Points</h4>
                                        <ul class="m-b30" id="requirements-list">
                                            <li class="form-group">
                                                <div class="row align-items-center">
                                                    <div class="col-md-9">
                                                        <textarea class="form-control px-2" name="blogPoints" rows="4" placeholder="Enter Points"></textarea>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button type="button" class="btn btn-success add-btn" onclick="addInput(this, 'blogPoints', 'Enter Points')"><span style="font-size: 18px;">+</span></button>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button type="button" class="btn btn-danger remove-btn" onclick="removeInput(this)"><span style="font-size: 18px;">-</span></button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <h4 class="title">Blog Description 2</h4>
                                            <div class="card-body">
                                                <textarea class="form-control px-2" name="blogDescription2"
                                                    rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h4 class="title">Add Tags</h4>
                                        <div class="form-group is-invalid">
                                            <input type="text" name="blogTags" value="" data-role="tagsinput" class="form-control">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary">Save</button>
                    </form>
                </div>
            </section>
        </div>


        <script>
            function addInput(button, name, placeholder) {
                const list = button.closest('ul');
                const newItem = document.createElement('li');
                newItem.className = 'form-group';
                newItem.innerHTML = `
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <textarea class="form-control px-2" name="${name}" rows="4" placeholder="${placeholder}"></textarea>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-success add-btn" onclick="addInput(this, '${name}', '${placeholder}')"><span style="font-size: 18px;">+</span></button>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-danger remove-btn" onclick="removeInput(this)"><span style="font-size: 18px;">-</span></button>
                        </div>
                    </div>
                `;
                list.appendChild(newItem);
            }
        
            function removeInput(button) {
                const list = button.closest('ul');
                const item = button.closest('li');
                if (list.childElementCount > 1) {
                    list.removeChild(item);
                }
            }
        </script>
        

        <%- include('partials/footer.ejs') %>