<%- include('partials/nav.ejs') %>
   <div class="layout-content">
      <div class="container-fluid flex-grow-1 container-p-y">
         <h4 class="font-weight-bold py-3 mb-0">Edit Teacher</h4>
         <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="feather icon-home"></i></a></li>
               <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
               <li class="breadcrumb-item"><a href="/admin/teachers">Teacher</a></li>
               <li class="breadcrumb-item"><a href="">Add Teacher</a></li>
            </ol>
         </div>
         <div class="card mb-2">
            <div class="card-header bg-info">
               <a class="d-flex justify-content-between text-white text-large text-uppercase" data-toggle="collapse"
                  aria-expanded="true" href="#accordion2-2">
                  Teacher Details
                  <div class="collapse-icon"></div>
               </a>
            </div>
            <div id="accordion2-2" class="collapse show" data-parent="#accordion2">
               <div class="card-body">
                  <form action="/admin/addteacher" method="post" enctype="multipart/form-data" <div
                     class="form-row teacher-form">
                     <div class="form-group col-md-3">
                        <label class="form-label">First Name *</label>
                        <input type="text" name="firstname" class="form-control px-2" placeholder="Enter name" required>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Last Name *</label>
                        <input type="text" name="lastname" class="form-control px-2" placeholder="Enter name" required>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Phone Number *</label>
                        <input type="number" name="contact" class="form-control px-2" placeholder="Enter number"
                           required>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Email Address *</label>
                        <input type="email" name="email" class="form-control px-2" placeholder="Enter email" required>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Gender *</label>
                        <select class="custom-select" name="gender" required>
                           <option value="">-- Select Gender --</option>
                           <option value="Male">Male</option>
                           <option value="Female">Female
                           </option>
                        </select>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Date Of Birth *</label>
                        <input type="date" name="dateOfBirth" class="form-control px-2" placeholder="Enter DOB"
                           required>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Whatsapp Number *</label>
                        <input type="number" name="whatsappNumber" class="form-control px-2" placeholder="Enter number"
                           required>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Where did you hear about Hirewell?</label>
                        <select class="custom-select" name="hirewellSource">
                           <option value="">-- Select --</option>
                           <option value="Social Media">Social Media
                           </option>
                           <option value="Website">Website</option>
                           <option value="Other">Other</option>
                        </select>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Address</label>
                        <input type="text" name="address" class="form-control px-2" placeholder="Enter address">
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">City *</label>
                        <input type="text" name="city" class="form-control px-2" placeholder="Enter city" required>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">State *</label>
                        <select  name="state" required class="form-select form-select-lg mb-3"
                           aria-label=".form-select-lg example" required>
                           <option selected>Select</option>
                           <option value="Andhra Pradesh">Andhra Pradesh
                           </option>
                           <option value="Andaman and Nicobar Islands">
                              Andaman and Nicobar Islands
                           </option>
                           <option value="Arunachal Pradesh">Arunachal
                              Pradesh
                           </option>
                           <option value="Assam">Assam</option>
                           <option value="Bihar">Bihar</option>
                           <option value="Chandigarh">Chandigarh</option>
                           <option value="Chhattisgarh">Chhattisgarh
                           </option>
                           <option value="Dadar and Nagar Haveli">Dadar and
                              Nagar Haveli
                           </option>
                           <option value="Daman and Diu">Daman and Diu
                           </option>
                           <option value="Delhi">Delhi</option>
                           <option value="Lakshadweep">Lakshadweep</option>
                           <option value="Puducherry">Puducherry</option>
                           <option value="Goa">Goa</option>
                           <option value="Gujarat">Gujarat</option>
                           <option value="Haryana">Haryana</option>
                           <option value="Himachal Pradesh">Himachal
                              Pradesh
                           </option>
                           <option value="Jammu and Kashmir">Jammu and
                              Kashmir
                           </option>
                           <option value="Jharkhand">Jharkhand</option>
                           <option value="Karnataka">Karnataka</option>
                           <option value="Kerala">Kerala</option>
                           <option value="Madhya Pradesh">Madhya Pradesh
                           </option>
                           <option value="Maharashtra">Maharashtra</option>
                           <option value="Manipur">Manipur</option>
                           <option value="Meghalaya">Meghalaya</option>
                           <option value="Mizoram">Mizoram</option>
                           <option value="Nagaland">Nagaland</option>
                           <option value="Odisha">Odisha</option>
                           <option value="Punjab">Punjab</option>
                           <option value="Rajasthan">Rajasthan</option>
                           <option value="Sikkim">Sikkim</option>
                           <option value="Tamil Nadu">Tamil Nadu</option>
                           <option value="Telangana">Telangana</option>
                           <option value="Tripura">Tripura</option>
                           <option value="Uttar Pradesh">Uttar Pradesh
                           </option>
                           <option value="Uttarakhand">Uttarakhand</option>
                           <option value="West Bengal">West Bengal</option>
                        </select>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Pincode *</label>
                        <input type="text" name="pincode" class="form-control px-2" placeholder="Enter pincode"
                           required>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">School Type</label>
                        <select class="custom-select" name="schoolType">
                           <option value="">-- Select school Type--</option>
                           <option value="CBSE Board School">CBSE Board School</option>
                           <option value="State Board School" <>State Board School</option>
                           <option value="Play School">Play School</option>
                           <option value="Primary School">Primary School
                           </option>
                           <option value="Other">Other
                           </option>
                        </select>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Role</label>
                        <select  name="role" class="form-select form-select-lg mb-3"
                           aria-label=".form-select-lg example">
                           <option>Select</option>
                           <option value="PGT Teacher">PGT Teacher</option>
                           <option value="TGT Teacher">TGT Teacher</option>
                           <option value="Primary or PRT Teacher">Primary or PRT Teacher</option>
                           <option value="Pre-Primary Teacher">Pre-Primary Teacher</option>
                           <option value="Mother Teacher">Mother Teacher</option>
                           <option value="Play School Teacher">Play School Teacher</option>
                           <option value="School Principal">School Principal</option>
                           <option value="Academic Coordinator">Academic Coordinator</option>
                           <option value="Headmistress">Headmistress</option>
                           <option value="Headmaster">Headmaster</option>
                           <option value="Activity Coordinator">Activity Coordinator</option>
                           <option value="Education Counselor">Education Counselor</option>
                           <option value="Other">Other</option>
                        </select>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Currently Working? *</label>
                        <select class="custom-select" name="isCurrentlyWorking" required>
                           <option value="">-- Select--</option>
                           <option value="Yes">Yes
                           </option>
                           <option value="No">No
                           </option>
                        </select>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Organization Name</label>
                        <input type="text" name="organizationName" class="form-control px-2" placeholder="Enter name">
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Relevant Experience</label>
                        <select  name="relevantExperience" class="form-select form-select-lg mb-3"
                           aria-label=".form-select-lg example" required>
                           <option selected>Select</option>
                           <option value="0-1 YEAR">0-1 YEAR</option>
                           <option value="1-2 YEAR">1-2 YEAR</option>
                           <option value="2-3 YEAR">2-3 YEAR</option>
                           <option value="3-4 YEAR">3-4 YEAR</option>
                           <option value="4-5 YEAR">4-5 YEAR</option>
                           <option value="More Than 5 YEAR">More Than 5 YEAR</option>
                        </select>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Skills </label>
                        <input type="text" name="skills" class="form-control px-2" placeholder="Enter slills">
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Qualification Level</label>
                        <select  name="qualificationLevel" class="form-select form-select-lg mb-3"
                           aria-label=".form-select-lg example">
                           <option selected>Select</option>
                           <option value="Diploma">Diploma</option>
                           <option value="Bechelor Degree">Bechelor Degree</option>
                           <option value="Master Degree">Master Degree</option>
                           <option value="Doctorate Degree">Doctorate Degree</option>
                           <option value="Other">Other</option>
                        </select>
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Preferred Locations</label>
                        <input type="text" name="preferredLocations" class="form-control px-2" placeholder="Enter name">
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Languages Known</label>
                        <input type="text" name="languagesKnown" class="form-control px-2"
                           placeholder="Enter Languages">
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Current CTC </label>
                        <input type="text" name="currentctc" class="form-control px-2" placeholder="Enter amount">
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Expected CTC </label>
                        <input type="text" name="expectedctc" class="form-control px-2" placeholder="Enter amount">
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-3">
                        <label class="form-label">Notice Period </label>
                        <input type="text" name="noticePeriod" class="form-control px-2" placeholder="Enter amount">
                        <div class="clearfix"></div>
                     </div>
                     <div class="form-group col-md-6">
                        <label class="form-label">Resume</label>
                        <input type="file" name="teacherresume" class="form-control" required>
                     </div>
                     <div class="form-group col-md-6">
                        <label class="form-label">Other Documents</label>
                        <input type="file" name="certifications" class="form-control">
                     </div>
                     <div class="form-group col-md-12">
                        <label class="form-label">Remark</label>
                        <textarea name="remark" class="form-control px-3" id="" cols="30" rows="10"></textarea>
                     </div>
                     <button class="btn btn-primary" name="submit">Save</button>
               </div>
               </form>
            </div>
         </div>
      </div>
      <%- include('partials/footer.ejs') %>