<%- include('partials/nav.ejs') %>

    <!-- Page Content Start -->
    <div class="page-content user-dash-board">
        <!-- Banner  -->
        <div class="dz-bnr-inr dz-bnr-inr-sm text-center overlay-primary-dark"
            style="background-image: url(/Frontend/assets/frontend/images/banner/bnr1.jpg);">
            <div class="container">
                <div class="dz-bnr-inr-entry">
                    <h1>About Us</h1>
                    <!-- Breadcrumb Row -->
                    <nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="admin/index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ul>
                    </nav>
                    <!-- Breadcrumb Row End -->
                </div>
            </div>
        </div>
        <!-- Banner End -->
        <section class="content-inner overflow-hidden position-relative">
            <div class="container">
                <div class="section-head text-center">
                    <!-- <h6 class="text wow fadeInUp" data-wow-delay="0.6s">About Us </h6> -->
                    <h2 class="title wow fadeInUp" data-wow-delay="0.8s">About Us</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-md-5 m-b30 about-img">
                                <img class="wow bounceInRight" data-wow-delay="1.2s" src="/Frontend/newimg/logo.png"
                                    alt="">
                            </div>
                            <div class="col-lg-7 col-md-7 m-b30">
                                <div class="icon-bx-wraper wow bounceInLeft" data-wow-delay="1.2s">
                                    <div class="icon-content about-us-content">
                                        <!-- <h6 class="title">About Hirewell</h6> -->
                                        <!-- <h2 class="title">About Us</h2> -->
                                        <p class="text mt-3">
                                            At <b>HIREWELL</b>, we are more than just a teacher's recruitment
                                            agency; we are your dedicated partners in shaping the future of
                                            education. Specializing in connecting educational institutions with
                                            qualified and quality teaching and non-teaching staff, we play a pivotal
                                            role in the education sector. Our mission is to serve and assist schools
                                            and educational organizations in finding the perfect candidates to meet
                                            their unique needs. By aligning our services with the specific
                                            requirements of each institution, we contribute to the enhancement of
                                            the educational landscape.
                                        </p>
                                    </div>
                                    <div
                                        class="row stetic-img-icon mt-4 d-flex justify-content-between about-contect-img g-3">
                                        <div class="col-md-4 color1" id="about-contect-img1">
                                            <span class="d-flex flex-column align-items-center vision-button">
                                                <img src="/Frontend/newimg/about1.png" alt="">
                                                <a class="mt-4" href="/aboutUs">Vision<i
                                                        class="ri-arrow-right-line"></i></a>
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="d-flex flex-column align-items-center" id="c2-a">
                                                <img src="/Frontend/newimg/about2.png" alt="">
                                                <a class="mt-4" href="/aboutUs">Mission<i
                                                        class="ri-arrow-right-line"></i></a>
                                            </span>
                                        </div>
                                        <div class="col-md-4 " id="about-contect-img1">
                                            <span class="d-flex flex-column align-items-center" id="c3-a">
                                                <img src="/Frontend/newimg/about3.png" alt="">
                                                <a class="mt-4" href="/aboutUs">Values<i
                                                        class="ri-arrow-right-line"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-inner overflow-hidden position-relative">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 m-b30">
                                <img class="wow bounceInRight" data-wow-delay="1.2s"" src="
                                    /Frontend/newimg/vission.png" alt="">
                            </div>
                            <div class="col-lg-6 col-md-6 m-b30">
                                <div class="icon-bx-wraper icon-content-service-new-main wow bounceInLeft"
                                    data-wow-delay="1.2s">
                                    <div class="icon-content icon-content-service-new">
                                        <h4 class="title">Vision</h4>
                                        <!-- <h2 class="title">Vision</h2> -->
                                        <p class="text mt-3">Our vision at Hirewell is to cultivate a supportive and
                                            collaborative environment that serves as a catalyst for growth and
                                            development, benefiting both educators and institutions. We envision a
                                            future where education is synonymous with empowerment, and our
                                            commitment is to contribute actively to this transformative journey.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="overflow-hidden position-relative">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="row align-items-center reverce-div">
                            <div class="col-lg-6 col-md-6 m-b30">
                                <div class="icon-bx-wraper icon-content-service-new-main  wow bounceInRight"
                                    data-wow-delay="1.2s">
                                    <div class="icon-content icon-content-service-new">
                                        <h4 class="title">Mission</h4>
                                        <!-- <h2 class="title">Mission</h2> -->
                                        <p class="text mt-3">At the heart of our mission is the commitment to
                                            develop lasting client relationships by providing exceptional
                                            stakeholder value in an environment of truth and respect. We strive to
                                            go beyond mere recruitment, aiming to establish partnerships built on
                                            trust, transparency, and a shared commitment to the advancement of
                                            education.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 m-b30">
                                <img class="wow bounceInLeft" data-wow-delay="1.2s" src="/Frontend/newimg/mission.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-inner overflow-hidden position-relative">
            <div class="container">
                <div class="section-head text-center">
                    <!-- <h6 class="text wow fadeInUp" data-wow-delay="0.6s">Training Events</h6> -->
                    <h2 class="title wow fadeInUp" data-wow-delay="0.8s">Values</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-md-6 training-topic-main m-b30">
                        <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                            <div class="dz-info text-center training-topic">
                                <i class="fa-solid fa-pen"></i>
                                <h4 class="dz-title mt-3">Learning
                                </h4>
                                <p class="mt-3">We foster a learning environment that continuously motivates all
                                    individuals to excel. Our commitment to ongoing education and development is at
                                    the core of our services.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
                        <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                            <div class="dz-info text-center training-topic">
                                <i class="fa-solid fa-handshake"></i>
                                <h4 class="dz-title mt-3">Relationships</h4>
                                <p class="mt-3">We prioritize creating and maintaining meaningful relationships
                                    among teachers, staff, and community partners. Collaboration is the key to
                                    achieving collective success.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
                        <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                            <div class="dz-info text-center training-topic">
                                <i class="fa-solid fa-heart"></i>
                                <h4 class="dz-title mt-3">Integrity</h4>
                                <p class="mt-3">Conducting ourselves with honesty and responsibility, we uphold the
                                    highest standards of integrity in every interaction, ensuring trust and
                                    credibility in our relationships.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
                        <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                            <div class="dz-info text-center training-topic">
                                <i class="fa-solid fa-gear"></i>
                                <h4 class="dz-title mt-3">Service</h4>
                                <p class="mt-3">Dedication to delivering excellent service is ingrained in our
                                    approach. We are committed to exceeding expectations and providing unparalleled
                                    support to our clients.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 training-topic-main  m-b30">
                        <div class="dz-card style-1 overlay-shine wow fadeInUp" data-wow-delay="1.0s">
                            <div class="dz-info text-center training-topic">
                                <i class="fa-solid fa-chart-bar"></i>
                                <h4 class="dz-title mt-3">Continuous Improvement</h4>
                                <p class="mt-3">Staying up-to-date with the latest trends and best practices in
                                    education and recruitment is a cornerstone of our values. We are dedicated to
                                    continuous improvement, ensuring that our services evolve with the dynamic needs
                                    of the education sector.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <!-- Map Iframe -->
    <%- include('partials/contactForm.ejs') %>
    <!-- Map Iframe End -->
    <!--footer-action -->
    <%- include('partials/letsGet.ejs') %>
    <!-- footer-action -->
    </div>
    <!-- Page Content End -->
    <%- include('partials/footer.ejs') %>