<%- include('partials/nav.ejs') %>

   <!-- Page Content Start -->
   <div class="page-content user-dash-board">
      <!-- Banner  -->
      <div class="dz-bnr-inr dz-bnr-inr-sm text-center overlay-primary-dark"
         style="background-image: url(/Frontend/assets/frontend/images/banner/bnr1.jpg);">
         <div class="container">
            <div class="dz-bnr-inr-entry">
               <h1>Founders</h1>
               <!-- Breadcrumb Row -->
               <nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
                  <ul class="breadcrumb">
                     <li class="breadcrumb-item"><a href="admin/index">Home</a></li>
                     <li class="breadcrumb-item active" aria-current="page">Founders</li>
                  </ul>
               </nav>
               <!-- Breadcrumb Row End -->
            </div>
         </div>
      </div>
      <!-- Banner End -->
      <!-- ===============>> team details section start here <<================= -->
      <div class="team team--details padding-top padding-bottom bg-color-3 mt-5">
         <div class="container">
            <div class="team__wrapper">
               <div class="row g-5 align-items-center">
                  <div class="col-md-5">
                     <div class="team__thumb">
                        <img src="/Frontend/newimg/founder1.png" alt="Team Image">
                     </div>
                  </div>
                  <div class="col-md-7">
                     <div class="team__content">
                        <h3>Prity</h3>
                        <p class="designation">The Founder</p>
                        <p class="info">She is a highly experienced professional, who has served as the
                           principal of an IB school where she showcased her exceptional leadership skills
                           and deep understanding of the education industry. Her experience in managing and
                           overseeing the operations of an esteemed educational institution has equipped
                           her with invaluable knowledge and insights
                        </p>
                        <p class="info">She is also recognized as the Indian subcontinent trainer for the
                           renowned Jolly Phonics program. Her expertise lies in training teachers and
                           parents on the implementation of this innovative phonics program, which has
                           proven to be highly effective in enhancing language skills in young learners.
                        </p>
                        <p class="info">Furthermore, Prity Thakkar has successfully established a
                           pre-primary school and has been instrumental in developing a comprehensive and
                           engaging curriculum for early childhood education. Her deep understanding of the
                           educational needs of young children has enabled her to create a stimulating
                           learning environment that fosters their overall growth and development.
                        </p>
                        <div class="dz-share-post">
                           <div class="dz-social-icon dark">
                              <ul>
                                 <li><a target="_blank" class="fa-brands fa-linkedin-in" href="#"></a>
                                 </li>
                                 <li><a target="_blank" class="fab fa-facebook-f" href="#"></a></li>
                                 <li><a target="_blank" class="fab fa-instagram" href="#"></a></li>
                                 <li><a target="_blank" class="fab fa-twitter" href="#"></a></li>
                                 <li><a target="_blank" class="fab fa-youtube" href="#"></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="team team--details mt-5">
         <div class="container">
            <div class="team__wrapper">
               <div class="row g-5 align-items-center reverce-div">
                  <div class="col-md-7">
                     <div class="team__content">
                        <h3>Sheetal Parikh</h3>
                        <p class="designation">The Founder</p>
                        <p class="info">She is a founder at Hire Well with over two decades of experience in
                           the education and training sector, Sheetal has established herself as a
                           prominent figure in the industry. She has a proven track record of success and
                           has made significant contributions to various educational institutions
                           throughout her career.
                        </p>
                        <p class="info">Sheetal has been the Headmistress of Sanskar Gurukul, where she
                           played a crucial role in the development and implementation of effective
                           teaching methodologies. Her dedication and expertise have greatly impacted the
                           lives of countless students and teachers.
                        </p>
                        <p class="info">Additionally, Sheetal has also worked as a consultant for opening
                           pre-schools, offering her guidance and expertise to ensure the successful
                           establishment and operation of these institutions. Her insights and knowledge in
                           this area have been invaluable, enabling her clients to create nurturing and
                           effective learning environments.
                        </p>
                        <div class="dz-share-post">
                           <div class="dz-social-icon dark">
                              <ul>
                                 <li><a target="_blank" class="fa-brands fa-linkedin-in" href="#"></a>
                                 </li>
                                 <li><a target="_blank" class="fab fa-facebook-f" href="#"></a></li>
                                 <li><a target="_blank" class="fab fa-instagram" href="#"></a></li>
                                 <li><a target="_blank" class="fab fa-twitter" href="#"></a></li>
                                 <li><a target="_blank" class="fab fa-youtube" href="#"></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-5">
                     <div class="team__thumb">
                        <img src="/Frontend/newimg/founder2.png" alt="Team Image">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- ===============>> team details section end here <<================= -->
      <!-- Map Iframe -->
    <%- include('partials/contactForm.ejs') %>
    <!-- Map Iframe End -->
    <!--footer-action -->
    <%- include('partials/letsGet.ejs') %>
    <!-- footer-action -->
   </div>
   <!-- Page Content End -->
   <%- include('partials/footer.ejs') %>