<%- include('partials/nav.ejs') %>

    <!-- Page Content Start -->
    <div class="page-content user-dash-board">
        <!-- Banner  -->
        <div class="dz-bnr-inr dz-bnr-inr-sm text-center overlay-primary-dark"
            style="background-image: url(/Frontend/assets/frontend/images/banner/bnr1.jpg);">
            <div class="container">
                <div class="dz-bnr-inr-entry">
                    <h1>Solutions</h1>
                    <!-- Breadcrumb Row -->
                    <nav aria-label="breadcrumb" class="breadcrumb-row m-t15">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="admin/index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Solutions</li>
                        </ul>
                    </nav>
                    <!-- Breadcrumb Row End -->
                </div>
            </div>
        </div>
        <!-- Banner End -->
        <!-- Blog Details -->
        <section class="content-inner position-relative" style="background: white;">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-12 col-lg-12">
                        <div class="blog-single pt-20 sidebar dz-card">
                            <div class="dz-media dz-media-rounded rounded">
                                <img src="/Frontend/assets/frontend/images/blog/large/pic1.jpg" alt="">
                            </div>
                            <div class="dz-info m-b30">
                                <h3 class="dz-title">How to convince recruiters and get your dream job</h3>
                                <div class="dz-post-text">
                                    <p>Please make sure you understand what rights you are claiming before you
                                        submit a DMCA takedown notice because it is a serious legal document.
                                        Consider whether you need legal advice. It's really important not to make
                                        false claims as this could have serious legal consequences.
                                    </p>
                                    <p>penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer
                                        tristique elit lobortis purus bibendum, quis dictum metus mattis. Phasellus
                                        posuere felis sed eros porttitor mattis. Curabitur massa magna, tempor in
                                        blandit id, porta in ligula. Aliquam laoreet nisl massa, at interdum mauris
                                        sollicitudin et.Harvel is a copyright protection platform for next-gen
                                        creators, crawling the web on a daily basis in order to find piracy links
                                        and copyright infringement of your content. Ip>
                                    <blockquote class="block-quote  style-1">
                                        <p>“A business consulting agency is involved in the planning,
                                            implementation, and education of businesses.”
                                        </p>
                                        <cite> Jobick </cite>
                                    </blockquote>
                                    <p>Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla
                                        tellus, eleifend euismod and pellentesque vel, sagittis vel justo. In libero
                                        urna, venenatis sit amet ornare non, suscipit nec risus. Sed consequat justo
                                        non mauris pretium at tempor justo sodales.
                                    </p>
                                    <ul class="m-b30">
                                        <li>You need to create an account to find the best and preferred job.</li>
                                        <li>After creating the account, you have to apply for the desired job.</li>
                                        <li>After filling all the relevant information you have to upload your
                                            resume.
                                        </li>
                                    </ul>
                                    <p>The inner sanctuary, I throw myself down among the tall grass by the
                                        trickling stream; and, as I lie close to the earth, a thousand unknown
                                        plants are noticed by me: when I hear the buzz of the little world among the
                                        stalks, and grow familiar with the countless indescribable forms of the
                                        insects and flies, then I feel the presence of the Almighty.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Details -->
       <!-- Map Iframe -->
    <%- include('partials/contactForm.ejs') %>
    <!-- Map Iframe End -->
    <!--footer-action -->
    <%- include('partials/letsGet.ejs') %>
    <!-- footer-action -->
    </div>
    <!-- Page Content End -->
    <%- include('partials/footer.ejs') %>