<section class="map-wrapper1 overflow-hidden  content-inner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 m-b30">
                <div class="info-box style-1 ">
                    <div class="info">
                        <h2 class="text-light wow fadeInUp" data-wow-delay="0.6s">Let's talk with expereince
                            advisors.
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay="0.8s">Fill up the form and our team will
                            get<br> back to you within 24 hours.
                        </p>
                    </div>
                    <div class=" dz-social style-1 wow fadeInUp" data-wow-delay="0.2s">
                        <h6 class="text-light">Our Socials</h6>
                        <ul class="social-icon">
                            <li><a class="social-btn" target="_blank" href="https:/www.facebook.com/dexignzone/"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a class="social-btn" target="_blank" href="https:/www.instagram.com/dexignzone/"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                            <li><a class="social-btn" target="_blank" href="https:/twitter.com/dexignzones"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            <li><a class="social-btn" target="_blank" href="https:/www.youtube.com/@dexignzone1723"><i
                                        class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-sm-12 m-b30">
                <div class="form-wrapper style-1">
                    <h2 class="title m-a0 wow fadeInUp" data-wow-delay="1.6s">Get In touch</h2>
                    <p class="font-text text-primary p-b10 wow fadeInUp" data-wow-delay="1.7s">We are here for you. How
                        we can help?
                    </p>
                    <div class="contact-area">
                        <form action="/contactUsdata" method="post">
                            <input type="hidden" class="form-control" name="dzToDo" value="Contact">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="input-group wow fadeInUp" data-wow-delay="1.8s">
                                        <input name="firstname" type="text" class="form-control"
                                            placeholder="First Name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group wow fadeInUp" data-wow-delay="1.9s">
                                        <input name="lastname" type="text" class="form-control" placeholder="Last Name" required>
                                    </div>
                                </div>
                              
                                <div class="col-md-6">
                                    <div class="input-group wow fadeInUp" data-wow-delay="2.0s">
                                        <input name="email" type="email" class="form-control"
                                            placeholder="Email Address"required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group wow fadeInUp" data-wow-delay="2.1s">
                                        <input name="contact" type="number" class="form-control" placeholder="Mobile No."required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group wow fadeInUp" data-wow-delay="2.2s">
                                        <textarea name="massage" rows="5" class="form-control"
                                            placeholder="Type Message..."required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 p-t20">
                                    <button class="btn btn-primary wow fadeInUp" data-wow-delay="2.4s">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>