<!-- Footer -->
<footer class="site-footer style-1 position-relative">
  <div class="footer-top bg-light sapping">
    <div class="container">
      <div class="row p-50">
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class=" wow fadeInUp text-center fotter-logo text-lg-start" data-wow-delay="1.4s">
            <div class="footer-logo">
              <a href="index-2" class="logo-dark"><img src="/Frontend/newimg/logo.png" alt=""></a>
            </div>
            <p>At HIREWELL, we are more than just a teacher's recruitment agency; we are your dedicated
              partners in shaping the future of education.
            </p>
            <div class="dz-share-post">
              <div class="dz-social-icon dark">
                <ul>
                  <li><a target="_blank" class="fa-brands fa-linkedin-in" href="#"></a></li>
                  <li><a target="_blank" class="fab fa-facebook-f" href="https://www.facebook.com/profile.php?id=61553824090818"></a></li>
                  <li><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/Hirewell_/"></a></li>
                  <li><a target="_blank" class="fab fa-twitter" href="https://twitter.com/Hirwellindia"></a></li>
                  <li><a target="_blank" class="fab fa-youtube" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="widget widget_links wow fadeInUp" data-wow-delay="1.6s">
                <h4 class="footer-title">Useful Links</h4>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/aboutUs">About Us</a></li>
                  <li><a href="trainingtopics">Training Topics</a></li>
                  <li><a href="openings">Openings</a></li>
                  <li><a href="Founders">Founders</a></li>
                  <li><a href="/admin/login">Admin Login</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="widget widget_links wow fadeInUp" data-wow-delay="1.8s">
                <h4 class="footer-title">Services</h4>
                <ul>
                  <li><a href="recruitment">Recruitment</a></li>
                  <li><a href="training">Training</a></li>
                  <li><a href="preschoolsetups">Preschool Setup & Solutions</a></li>
                  <li><a href="trainingtopics">Training Topic</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="widget  wow fadeInUp" data-wow-delay="2.2s">
            <h4 class="footer-title">Newsletter</h4>
            <p>Sign up to our archi. point to recent updates & office</p>
            <form class="dzSubscribe ft-subscribe mb-4"
              action="https:/jobick.dexignlab.com/codeigniter/demo/Frontend/assets/script/mailchamp.php" method="post">
              <div class="dzSubscribeMsg"></div>
              <div class="input-group mb-0">
                <input name="dzEmail"="" type="email" class="form-control" placeholder="Your Email Address">
                <button name="submit" value="Submit" type="submit" class="btn btn-primary style-1 ">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom text-md-center text-md-center bg-light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="footer-inner text-center ">
            <p class="copyright-text wow fadeInUp" data-wow-delay="2.4s"><span id="currentYear"></span> Designed And
              Maintained By <a class="text-primary" href="https:/jusmarktech.com/" target="_blank">jusmark
                Tech</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>



<div style="position: absolute; z-index: 99; right: 0; top: 20%; left: 60%; transform: translate(-50%,-50%);">
  <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert" style="width: max-content;">
       <%= messages.error %>
    </div>
    <% } else if (messages.warning) { %>
    <div class="alert alert-warning" role="alert" style="width: max-content;">
       <%= messages.warning %>
    </div>
    <% } else if (messages.success) { %>
    <div class="alert alert-success" role="alert" style="width: max-content;">
       <%= messages.success %>
    </div>
    <% } %>
</div>

<!-- Footer End -->
<!-- Bottom to top -->
<button class="scroltop icon-up" type="button"><i class="fas fa-arrow-up"></i></button>
</div>

<script src="/Frontend/assets/frontend/js/jquery.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>

<script src="https:/cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https:/unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="/Frontend/assets/frontend/vendor/wow/wow.js"></script>
<script src="/Frontend/assets/frontend/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/Frontend/assets/frontend/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/Frontend/assets/frontend/vendor/counter/waypoints-min.js"></script>
<script src="/Frontend/assets/frontend/vendor/counter/counterup.min.js"></script>
<script src="/Frontend/assets/frontend/js/dz.carousel.js"></script>
<script src="/Frontend/assets/frontend/js/dz.ajax.js"></script>
<script src="/Frontend/assets/frontend/vendor/rangeslider/rangeslider.js"></script>
<script src="/Frontend/assets/frontend/vendor/switcher/switcher.js"></script>
<script src="/Frontend/assets/frontend/js/custom.js"></script>

<script src="/Frontend/assets/js/new.js"></script>

<!-- <script src="/Admin/assets/libs/bootstrap-select/bootstrap-select.js"></script> -->





<!--**********************************
       Page wrapper end
       ***********************************-->

      
        

  
  

</body>

</html>