<!-- Footer Section Start -->
<nav class="layout-footer footer footer-light">
  <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
    <div class="pt-3">
      <span class="float-md-right d-none d-lg-block">&copy; Designed &amp; Developed by JusMarkTech Made with <i
          class="fas fa-heart text-danger mr-2"></i></span>
    </div>
    <div>
    </div>
  </div>
</nav>
<!-- Footer Section End -->
</div>

</div>

</div>

<div class="layout-overlay layout-sidenav-toggle"></div>
</div>






<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/Admin/assets/js/pace.js"></script>
<script src="/Admin/assets/libs/popper/popper.js"></script>
<script src="/Admin/assets/js/bootstrap.js"></script>
<script src="/Admin/assets/js/sidenav.js"></script>
<script src="/Admin/assets/js/layout-helpers.js"></script>
<script src="/Admin/assets/js/material-ripple.js"></script>
<script src="/Admin/assets/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/Admin/assets/libs/eve/eve.js"></script>
<script src="/Admin/assets/libs/flot/flot.js"></script>
<script src="/Admin/assets/libs/flot/curvedLines.js"></script>
<script src="/Admin/assets/libs/chart-am4/core.js"></script>

<script src="assets/js/pages/tables_bootstrap-table.js"></script>
<script src="assets/libs/tableexport/tableexport.js"></script>
<script src="assets/libs/moment/moment.js"></script>
<script src="assets/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="assets/libs/bootstrap-table/bootstrap-table.js"></script>
<script src="assets/libs/bootstrap-table/extensions/export/export.js"></script>

<script src="/Admin/assets/js/pages/ui_modals.js"></script>
<script src="/Admin/assets/libs/bootbox/bootbox.js"></script>

<script src="/Admin/assets/libs/bootstrap-sweetalert/bootstrap-sweetalert.js"></script>


<script src="/Admin/assets/libs/chart-am4/charts.js"></script>
<script src="/Admin/assets/libs/chart-am4/animated.js"></script>
<script src="/Admin/assets/js/demo.js"></script>
<script src="/Admin/assets/libs/datatables/datatables.js"></script>
<script src="/Admin/assets/libs/moment/moment.js"></script>
<script src="/Admin/assets/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
<script src="/Admin/assets/js/pages/charts_am.js"></script>
<script src="/Admin/assets/js/pages/forms_pickers.js"></script>
<script src="/Admin/assets/libs/bootstrap-select/bootstrap-select.js"></script>

<script src="/Admin/assets/libs/select2/select2.js"></script>


<script src="/Admin/assets/js/pages/forms_selects.js"></script>
<script src="/Admin/assets/libs/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>


<script>
  document.addEventListener('DOMContentLoaded', function () {
     var alertDiv = document.querySelector('.alert');

     if (alertDiv) {
        setTimeout(function () {
           alertDiv.style.display = 'none';
        }, 3000);
     }
  });
</script>


</body>

</html>